.ap-default-term-ff {
  --term-font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas, "DejaVu Sans Mono", monospace, "Symbols Nerd Font";
}
div.ap-wrapper {
  outline: none;
  height: 100%;
  display: flex;
  justify-content: center;
}
div.ap-wrapper .title-bar {
  display: none;
  top: -78px;
  transition: top 0.15s linear;
  position: absolute;
  left: 0;
  right: 0;
  box-sizing: content-box;
  font-size: 20px;
  line-height: 1em;
  padding: 15px;
  font-family: sans-serif;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
}
div.ap-wrapper .title-bar img {
  vertical-align: middle;
  height: 48px;
  margin-right: 16px;
}
div.ap-wrapper .title-bar a {
  color: white;
  text-decoration: underline;
}
div.ap-wrapper .title-bar a:hover {
  text-decoration: none;
}
div.ap-wrapper:fullscreen {
  background-color: #000;
  width: 100%;
  align-items: center;
}
div.ap-wrapper:fullscreen .title-bar {
  display: initial;
}
div.ap-wrapper:fullscreen.hud .title-bar {
  top: 0;
}
div.ap-wrapper div.ap-player {
  text-align: left;
  display: inline-block;
  padding: 0px;
  position: relative;
  box-sizing: content-box;
  overflow: hidden;
  max-width: 100%;
  border-radius: 4px;
  font-size: 15px;
  background-color: var(--term-color-background);
}
.ap-player {
  --term-color-foreground: #ffffff;
  --term-color-background: #000000;
  --term-color-0: var(--term-color-foreground);
  --term-color-1: var(--term-color-foreground);
  --term-color-2: var(--term-color-foreground);
  --term-color-3: var(--term-color-foreground);
  --term-color-4: var(--term-color-foreground);
  --term-color-5: var(--term-color-foreground);
  --term-color-6: var(--term-color-foreground);
  --term-color-7: var(--term-color-foreground);
  --term-color-8: var(--term-color-0);
  --term-color-9: var(--term-color-1);
  --term-color-10: var(--term-color-2);
  --term-color-11: var(--term-color-3);
  --term-color-12: var(--term-color-4);
  --term-color-13: var(--term-color-5);
  --term-color-14: var(--term-color-6);
  --term-color-15: var(--term-color-7);
}
div.ap-term {
  position: relative;
  font-family: var(--term-font-family);
  border-width: 0.75em;
  border-radius: 0;
  border-style: solid;
  border-color: var(--term-color-background);
  box-sizing: content-box;
}
.ap-term .ap-term-bg {
  position: absolute;
  inset: 0;
}
.ap-term .ap-term-text {
  position: absolute;
  inset: 0;
  box-sizing: content-box;
  overflow: hidden;
  padding: 0;
  margin: 0px;
  display: block;
  white-space: pre;
  word-wrap: normal;
  word-break: normal;
  cursor: text;
  color: var(--term-color-foreground);
  outline: none;
  line-height: var(--term-line-height);
  font-family: inherit;
  font-size: inherit;
  font-variant-ligatures: none;
  border: 0;
  border-radius: 0;
  background-color: transparent;
}
.ap-term-text .ap-line {
  display: block;
  width: 100%;
  height: var(--term-line-height);
  position: absolute;
  top: calc(100% * var(--row) / var(--term-rows));
  letter-spacing: normal;
  overflow: hidden;
}
.ap-term-text .ap-line span {
  position: absolute;
  left: calc(100% * var(--offset) / var(--term-cols));
  color: var(--fg);
  padding: 0;
  display: inline-block;
  height: 100%;
}
.ap-term-text .ap-line .ap-inverse {
  color: var(--bg);
  background-color: var(--fg);
}
.ap-term-text .ap-line .ap-symbol {
  text-align: center;
}
.ap-term-text .ap-line .cp-2580 {
  border-top: calc(0.5 * var(--term-line-height)) solid var(--fg);
  box-sizing: border-box;
}
.ap-term-text .ap-line .cp-2581 {
  border-bottom: calc(0.125 * var(--term-line-height)) solid var(--fg);
  box-sizing: border-box;
}
.ap-term-text .ap-line .cp-2582 {
  border-bottom: calc(0.25 * var(--term-line-height)) solid var(--fg);
  box-sizing: border-box;
}
.ap-term-text .ap-line .cp-2583 {
  border-bottom: calc(0.375 * var(--term-line-height)) solid var(--fg);
  box-sizing: border-box;
}
.ap-term-text .ap-line .cp-2584 {
  border-bottom: calc(0.5 * var(--term-line-height)) solid var(--fg);
  box-sizing: border-box;
}
.ap-term-text .ap-line .cp-2585 {
  border-bottom: calc(0.625 * var(--term-line-height)) solid var(--fg);
  box-sizing: border-box;
}
.ap-term-text .ap-line .cp-2586 {
  border-bottom: calc(0.75 * var(--term-line-height)) solid var(--fg);
  box-sizing: border-box;
}
.ap-term-text .ap-line .cp-2587 {
  border-bottom: calc(0.875 * var(--term-line-height)) solid var(--fg);
  box-sizing: border-box;
}
.ap-term-text .ap-line .cp-2588 {
  background-color: var(--fg);
}
.ap-term-text .ap-line .cp-2589 {
  border-left: 0.875ch solid var(--fg);
  box-sizing: border-box;
}
.ap-term-text .ap-line .cp-258a {
  border-left: 0.75ch solid var(--fg);
  box-sizing: border-box;
}
.ap-term-text .ap-line .cp-258b {
  border-left: 0.625ch solid var(--fg);
  box-sizing: border-box;
}
.ap-term-text .ap-line .cp-258c {
  border-left: 0.5ch solid var(--fg);
  box-sizing: border-box;
}
.ap-term-text .ap-line .cp-258d {
  border-left: 0.375ch solid var(--fg);
  box-sizing: border-box;
}
.ap-term-text .ap-line .cp-258e {
  border-left: 0.25ch solid var(--fg);
  box-sizing: border-box;
}
.ap-term-text .ap-line .cp-258f {
  border-left: 0.125ch solid var(--fg);
  box-sizing: border-box;
}
.ap-term-text .ap-line .cp-2590 {
  border-right: 0.5ch solid var(--fg);
  box-sizing: border-box;
}
.ap-term-text .ap-line .cp-2591 {
  background-color: color-mix(in srgb, var(--fg) 25%, var(--bg));
}
.ap-term-text .ap-line .cp-2592 {
  background-color: color-mix(in srgb, var(--fg) 50%, var(--bg));
}
.ap-term-text .ap-line .cp-2593 {
  background-color: color-mix(in srgb, var(--fg) 75%, var(--bg));
}
.ap-term-text .ap-line .cp-2594 {
  border-top: calc(0.125 * var(--term-line-height)) solid var(--fg);
  box-sizing: border-box;
}
.ap-term-text .ap-line .cp-2595 {
  border-right: 0.125ch solid var(--fg);
  box-sizing: border-box;
}
.ap-term-text .ap-line .cp-2596 {
  border-right: 0.5ch solid var(--bg);
  border-top: calc(0.5 * var(--term-line-height)) solid var(--bg);
  background-color: var(--fg);
  box-sizing: border-box;
}
.ap-term-text .ap-line .cp-2597 {
  border-left: 0.5ch solid var(--bg);
  border-top: calc(0.5 * var(--term-line-height)) solid var(--bg);
  background-color: var(--fg);
  box-sizing: border-box;
}
.ap-term-text .ap-line .cp-2598 {
  border-right: 0.5ch solid var(--bg);
  border-bottom: calc(0.5 * var(--term-line-height)) solid var(--bg);
  background-color: var(--fg);
  box-sizing: border-box;
}
.ap-term-text .ap-line .cp-2599 {
  border-left: 0.5ch solid var(--fg);
  border-bottom: calc(0.5 * var(--term-line-height)) solid var(--fg);
  box-sizing: border-box;
}
.ap-term-text .ap-line .cp-259a {
  box-sizing: border-box;
}
.ap-term-text .ap-line .cp-259a::before,
.ap-term-text .ap-line .cp-259a::after {
  content: '';
  position: absolute;
  width: 0.5ch;
  height: calc(0.5 * var(--term-line-height));
  background-color: var(--fg);
}
.ap-term-text .ap-line .cp-259a::before {
  top: 0;
  left: 0;
}
.ap-term-text .ap-line .cp-259a::after {
  bottom: 0;
  right: 0;
}
.ap-term-text .ap-line .cp-259b {
  border-left: 0.5ch solid var(--fg);
  border-top: calc(0.5 * var(--term-line-height)) solid var(--fg);
  box-sizing: border-box;
}
.ap-term-text .ap-line .cp-259c {
  border-right: 0.5ch solid var(--fg);
  border-top: calc(0.5 * var(--term-line-height)) solid var(--fg);
  box-sizing: border-box;
}
.ap-term-text .ap-line .cp-259d {
  border-left: 0.5ch solid var(--bg);
  border-bottom: calc(0.5 * var(--term-line-height)) solid var(--bg);
  background-color: var(--fg);
  box-sizing: border-box;
}
.ap-term-text .ap-line .cp-259e {
  box-sizing: border-box;
}
.ap-term-text .ap-line .cp-259e::before,
.ap-term-text .ap-line .cp-259e::after {
  content: '';
  position: absolute;
  width: 0.5ch;
  height: calc(0.5 * var(--term-line-height));
  background-color: var(--fg);
}
.ap-term-text .ap-line .cp-259e::before {
  top: 0;
  right: 0;
}
.ap-term-text .ap-line .cp-259e::after {
  bottom: 0;
  left: 0;
}
.ap-term-text .ap-line .cp-259f {
  border-right: 0.5ch solid var(--fg);
  border-bottom: calc(0.5 * var(--term-line-height)) solid var(--fg);
  box-sizing: border-box;
}
.ap-term-text .ap-line .cp-e0b0 {
  border-left: 1ch solid var(--fg);
  border-top: calc(0.5 * var(--term-line-height)) solid transparent;
  border-bottom: calc(0.5 * var(--term-line-height)) solid transparent;
  box-sizing: border-box;
  left: calc(-0.1px + 100% * var(--offset) / var(--term-cols));
}
.ap-term-text .ap-line .cp-e0b1 {
  color: var(--fg);
}
.ap-term-text .ap-line .cp-e0b1::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: currentColor;
  mask: no-repeat center / 100% 100% url('data:image/svg+xml;utf8,\
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">\
  <path d="M0 0 L100 50 L0 100" fill="none" stroke="white" stroke-width="7"/>\
</svg>');
  pointer-events: none;
}
.ap-term-text .ap-line .cp-e0b2 {
  border-right: 1ch solid var(--fg);
  border-top: calc(0.5 * var(--term-line-height)) solid transparent;
  border-bottom: calc(0.5 * var(--term-line-height)) solid transparent;
  box-sizing: border-box;
}
.ap-term-text .ap-line .cp-e0b3 {
  color: var(--fg);
}
.ap-term-text .ap-line .cp-e0b3::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: currentColor;
  mask: no-repeat center / 100% 100% url('data:image/svg+xml;utf8,\
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">\
  <path d="M100 0 L0 50 L100 100" fill="none" stroke="white" stroke-width="7"/>\
</svg>');
  pointer-events: none;
}
.ap-term-text.ap-cursor-on .ap-line .ap-cursor {
  color: var(--bg);
  background-color: var(--fg);
  border-radius: 0.05em;
}
.ap-term-text.ap-cursor-on .ap-line .ap-cursor.ap-inverse {
  color: var(--fg);
  background-color: var(--bg);
}
.ap-term-text:not(.ap-blink) .ap-line .ap-blink {
  color: transparent;
  border-color: transparent;
}
.ap-term-text .ap-bright {
  font-weight: bold;
}
.ap-term-text .ap-faint {
  opacity: 0.5;
}
.ap-term-text .ap-underline {
  text-decoration: underline;
}
.ap-term-text .ap-italic {
  font-style: italic;
}
.ap-term-text .ap-strikethrough {
  text-decoration: line-through;
}
.ap-line span {
  --fg: var(--term-color-foreground);
  --bg: var(--term-color-background);
}
div.ap-player div.ap-control-bar {
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  color: var(--term-color-foreground);
  box-sizing: content-box;
  line-height: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.15s linear;
  user-select: none;
  border-top: 2px solid color-mix(in oklab, var(--term-color-background) 80%, var(--term-color-foreground));
  z-index: 30;
}
div.ap-player div.ap-control-bar * {
  box-sizing: inherit;
}
div.ap-control-bar svg.ap-icon path {
  fill: var(--term-color-foreground);
}
div.ap-control-bar span.ap-button {
  display: flex;
  flex: 0 0 auto;
  cursor: pointer;
}
div.ap-control-bar span.ap-playback-button {
  width: 12px;
  height: 12px;
  padding: 10px;
  margin: 0 0 0 2px;
}
div.ap-control-bar span.ap-playback-button svg {
  height: 12px;
  width: 12px;
}
div.ap-control-bar span.ap-timer {
  display: flex;
  flex: 0 0 auto;
  min-width: 50px;
  margin: 0 10px;
  height: 100%;
  text-align: center;
  font-size: 13px;
  line-height: 100%;
  cursor: default;
}
div.ap-control-bar span.ap-timer span {
  font-family: var(--term-font-family);
  font-size: inherit;
  font-weight: 600;
  margin: auto;
}
div.ap-control-bar span.ap-timer .ap-time-remaining {
  display: none;
}
div.ap-control-bar span.ap-timer:hover .ap-time-elapsed {
  display: none;
}
div.ap-control-bar span.ap-timer:hover .ap-time-remaining {
  display: flex;
}
div.ap-control-bar .ap-progressbar {
  display: block;
  flex: 1 1 auto;
  height: 100%;
  padding: 0 10px;
}
div.ap-control-bar .ap-progressbar .ap-bar {
  display: block;
  position: relative;
  cursor: default;
  height: 100%;
  font-size: 0;
}
div.ap-control-bar .ap-progressbar .ap-bar .ap-gutter {
  display: block;
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  height: 3px;
}
div.ap-control-bar .ap-progressbar .ap-bar .ap-gutter-empty {
  background-color: color-mix(in oklab, var(--term-color-foreground) 20%, var(--term-color-background));
}
div.ap-control-bar .ap-progressbar .ap-bar .ap-gutter-full {
  width: 100%;
  transform-origin: left center;
  background-color: var(--term-color-foreground);
  border-radius: 3px;
}
div.ap-control-bar.ap-seekable .ap-progressbar .ap-bar {
  cursor: pointer;
}
div.ap-control-bar .ap-fullscreen-button {
  width: 14px;
  height: 14px;
  padding: 9px;
  margin: 0 2px 0 4px;
}
div.ap-control-bar .ap-fullscreen-button svg {
  width: 14px;
  height: 14px;
}
div.ap-control-bar .ap-fullscreen-button svg.ap-icon-fullscreen-on {
  display: inline;
}
div.ap-control-bar .ap-fullscreen-button svg.ap-icon-fullscreen-off {
  display: none;
}
div.ap-control-bar .ap-fullscreen-button .ap-tooltip {
  right: 5px;
  left: initial;
  transform: none;
}
div.ap-control-bar .ap-kbd-button {
  height: 14px;
  padding: 9px;
  margin: 0 0 0 4px;
}
div.ap-control-bar .ap-kbd-button svg {
  width: 26px;
  height: 14px;
}
div.ap-control-bar .ap-kbd-button .ap-tooltip {
  right: 5px;
  left: initial;
  transform: none;
}
div.ap-control-bar .ap-speaker-button {
  width: 19px;
  padding: 6px 9px;
  margin: 0 0 0 4px;
  position: relative;
}
div.ap-control-bar .ap-speaker-button svg {
  width: 19px;
}
div.ap-control-bar .ap-speaker-button .ap-tooltip {
  left: -50%;
  transform: none;
}
div.ap-wrapper.ap-hud .ap-control-bar {
  opacity: 1;
}
div.ap-wrapper:fullscreen .ap-fullscreen-button svg.ap-icon-fullscreen-on {
  display: none;
}
div.ap-wrapper:fullscreen .ap-fullscreen-button svg.ap-icon-fullscreen-off {
  display: inline;
}
span.ap-progressbar span.ap-marker-container {
  display: block;
  top: 0;
  bottom: 0;
  width: 21px;
  position: absolute;
  margin-left: -10px;
}
span.ap-marker-container span.ap-marker {
  display: block;
  top: 13px;
  bottom: 12px;
  left: 7px;
  right: 7px;
  background-color: color-mix(in oklab, var(--term-color-foreground) 33%, var(--term-color-background));
  position: absolute;
  transition: top 0.1s, bottom 0.1s, left 0.1s, right 0.1s, background-color 0.1s;
  border-radius: 50%;
}
span.ap-marker-container span.ap-marker.ap-marker-past {
  background-color: var(--term-color-foreground);
}
span.ap-marker-container span.ap-marker:hover,
span.ap-marker-container:hover span.ap-marker {
  background-color: var(--term-color-foreground);
  top: 11px;
  bottom: 10px;
  left: 5px;
  right: 5px;
}
.ap-tooltip-container span.ap-tooltip {
  visibility: hidden;
  background-color: var(--term-color-foreground);
  color: var(--term-color-background);
  font-family: var(--term-font-family);
  font-weight: bold;
  text-align: center;
  padding: 0 0.5em;
  border-radius: 4px;
  position: absolute;
  z-index: 1;
  white-space: nowrap;
  /* Prevents the text from wrapping and makes sure the tooltip width adapts to the text length */
  font-size: 13px;
  line-height: 2em;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.ap-tooltip-container:hover span.ap-tooltip {
  visibility: visible;
}
.ap-player .ap-overlay {
  z-index: 10;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ap-player .ap-overlay-start {
  cursor: pointer;
}
.ap-player .ap-overlay-start .ap-play-button {
  font-size: 0px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  color: white;
  height: 80px;
  max-height: 66%;
  margin: auto;
}
.ap-player .ap-overlay-start .ap-play-button div {
  height: 100%;
}
.ap-player .ap-overlay-start .ap-play-button div span {
  height: 100%;
  display: block;
}
.ap-player .ap-overlay-start .ap-play-button div span svg {
  height: 100%;
  display: inline-block;
}
.ap-player .ap-overlay-start .ap-play-button svg {
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.4));
}
.ap-player .ap-overlay-loading .ap-loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 10px solid;
  border-color: rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.7) #ffffff;
  border-color: color-mix(in srgb, var(--term-color-foreground) 30%, var(--term-color-background)) color-mix(in srgb, var(--term-color-foreground) 50%, var(--term-color-background)) color-mix(in srgb, var(--term-color-foreground) 70%, var(--term-color-background)) color-mix(in srgb, var(--term-color-foreground) 100%, var(--term-color-background));
  box-sizing: border-box;
  animation: ap-loader-rotation 1s linear infinite;
}
.ap-player .ap-overlay-info {
  background-color: var(--term-color-background);
}
.ap-player .ap-overlay-info span {
  font-family: var(--term-font-family);
  font-size: 2em;
  color: var(--term-color-foreground);
}
.ap-player .ap-overlay-help {
  background-color: rgba(0, 0, 0, 0.8);
  container-type: inline-size;
}
.ap-player .ap-overlay-help > div {
  font-family: var(--term-font-family);
  max-width: 85%;
  max-height: 85%;
  font-size: 18px;
  color: var(--term-color-foreground);
  box-sizing: border-box;
  margin-bottom: 32px;
}
.ap-player .ap-overlay-help > div div {
  padding: calc(min(4cqw, 40px));
  font-size: calc(min(1.9cqw, 18px));
  background-color: var(--term-color-background);
  border: 1px solid color-mix(in oklab, var(--term-color-background) 90%, var(--term-color-foreground));
  border-radius: 6px;
}
.ap-player .ap-overlay-help > div div p {
  font-weight: bold;
  margin: 0 0 2em 0;
}
.ap-player .ap-overlay-help > div div ul {
  list-style: none;
  padding: 0;
}
.ap-player .ap-overlay-help > div div ul li {
  margin: 0 0 0.75em 0;
}
.ap-player .ap-overlay-help > div div kbd {
  color: var(--term-color-background);
  background-color: var(--term-color-foreground);
  padding: 0.2em 0.5em;
  border-radius: 0.2em;
  font-family: inherit;
  font-size: 0.85em;
  border: none;
  margin: 0;
}
.ap-player .ap-overlay-error span {
  font-size: 8em;
}
.ap-player .slide-enter-active {
  transition: opacity 0.2s;
}
.ap-player .slide-enter-active.ap-was-playing {
  transition: top 0.2s ease-out, opacity 0.2s;
}
.ap-player .slide-exit-active {
  transition: top 0.2s ease-in, opacity 0.2s;
}
.ap-player .slide-enter {
  top: -50%;
  opacity: 0;
}
.ap-player .slide-enter-to {
  top: 0%;
}
.ap-player .slide-enter,
.ap-player .slide-enter-to,
.ap-player .slide-exit,
.ap-player .slide-exit-to {
  bottom: auto;
  height: 100%;
}
.ap-player .slide-exit {
  top: 0%;
}
.ap-player .slide-exit-to {
  top: -50%;
  opacity: 0;
}
@keyframes ap-loader-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ap-term {
  --term-color-16: #000000;
  --term-color-17: #00005f;
  --term-color-18: #000087;
  --term-color-19: #0000af;
  --term-color-20: #0000d7;
  --term-color-21: #0000ff;
  --term-color-22: #005f00;
  --term-color-23: #005f5f;
  --term-color-24: #005f87;
  --term-color-25: #005faf;
  --term-color-26: #005fd7;
  --term-color-27: #005fff;
  --term-color-28: #008700;
  --term-color-29: #00875f;
  --term-color-30: #008787;
  --term-color-31: #0087af;
  --term-color-32: #0087d7;
  --term-color-33: #0087ff;
  --term-color-34: #00af00;
  --term-color-35: #00af5f;
  --term-color-36: #00af87;
  --term-color-37: #00afaf;
  --term-color-38: #00afd7;
  --term-color-39: #00afff;
  --term-color-40: #00d700;
  --term-color-41: #00d75f;
  --term-color-42: #00d787;
  --term-color-43: #00d7af;
  --term-color-44: #00d7d7;
  --term-color-45: #00d7ff;
  --term-color-46: #00ff00;
  --term-color-47: #00ff5f;
  --term-color-48: #00ff87;
  --term-color-49: #00ffaf;
  --term-color-50: #00ffd7;
  --term-color-51: #00ffff;
  --term-color-52: #5f0000;
  --term-color-53: #5f005f;
  --term-color-54: #5f0087;
  --term-color-55: #5f00af;
  --term-color-56: #5f00d7;
  --term-color-57: #5f00ff;
  --term-color-58: #5f5f00;
  --term-color-59: #5f5f5f;
  --term-color-60: #5f5f87;
  --term-color-61: #5f5faf;
  --term-color-62: #5f5fd7;
  --term-color-63: #5f5fff;
  --term-color-64: #5f8700;
  --term-color-65: #5f875f;
  --term-color-66: #5f8787;
  --term-color-67: #5f87af;
  --term-color-68: #5f87d7;
  --term-color-69: #5f87ff;
  --term-color-70: #5faf00;
  --term-color-71: #5faf5f;
  --term-color-72: #5faf87;
  --term-color-73: #5fafaf;
  --term-color-74: #5fafd7;
  --term-color-75: #5fafff;
  --term-color-76: #5fd700;
  --term-color-77: #5fd75f;
  --term-color-78: #5fd787;
  --term-color-79: #5fd7af;
  --term-color-80: #5fd7d7;
  --term-color-81: #5fd7ff;
  --term-color-82: #5fff00;
  --term-color-83: #5fff5f;
  --term-color-84: #5fff87;
  --term-color-85: #5fffaf;
  --term-color-86: #5fffd7;
  --term-color-87: #5fffff;
  --term-color-88: #870000;
  --term-color-89: #87005f;
  --term-color-90: #870087;
  --term-color-91: #8700af;
  --term-color-92: #8700d7;
  --term-color-93: #8700ff;
  --term-color-94: #875f00;
  --term-color-95: #875f5f;
  --term-color-96: #875f87;
  --term-color-97: #875faf;
  --term-color-98: #875fd7;
  --term-color-99: #875fff;
  --term-color-100: #878700;
  --term-color-101: #87875f;
  --term-color-102: #878787;
  --term-color-103: #8787af;
  --term-color-104: #8787d7;
  --term-color-105: #8787ff;
  --term-color-106: #87af00;
  --term-color-107: #87af5f;
  --term-color-108: #87af87;
  --term-color-109: #87afaf;
  --term-color-110: #87afd7;
  --term-color-111: #87afff;
  --term-color-112: #87d700;
  --term-color-113: #87d75f;
  --term-color-114: #87d787;
  --term-color-115: #87d7af;
  --term-color-116: #87d7d7;
  --term-color-117: #87d7ff;
  --term-color-118: #87ff00;
  --term-color-119: #87ff5f;
  --term-color-120: #87ff87;
  --term-color-121: #87ffaf;
  --term-color-122: #87ffd7;
  --term-color-123: #87ffff;
  --term-color-124: #af0000;
  --term-color-125: #af005f;
  --term-color-126: #af0087;
  --term-color-127: #af00af;
  --term-color-128: #af00d7;
  --term-color-129: #af00ff;
  --term-color-130: #af5f00;
  --term-color-131: #af5f5f;
  --term-color-132: #af5f87;
  --term-color-133: #af5faf;
  --term-color-134: #af5fd7;
  --term-color-135: #af5fff;
  --term-color-136: #af8700;
  --term-color-137: #af875f;
  --term-color-138: #af8787;
  --term-color-139: #af87af;
  --term-color-140: #af87d7;
  --term-color-141: #af87ff;
  --term-color-142: #afaf00;
  --term-color-143: #afaf5f;
  --term-color-144: #afaf87;
  --term-color-145: #afafaf;
  --term-color-146: #afafd7;
  --term-color-147: #afafff;
  --term-color-148: #afd700;
  --term-color-149: #afd75f;
  --term-color-150: #afd787;
  --term-color-151: #afd7af;
  --term-color-152: #afd7d7;
  --term-color-153: #afd7ff;
  --term-color-154: #afff00;
  --term-color-155: #afff5f;
  --term-color-156: #afff87;
  --term-color-157: #afffaf;
  --term-color-158: #afffd7;
  --term-color-159: #afffff;
  --term-color-160: #d70000;
  --term-color-161: #d7005f;
  --term-color-162: #d70087;
  --term-color-163: #d700af;
  --term-color-164: #d700d7;
  --term-color-165: #d700ff;
  --term-color-166: #d75f00;
  --term-color-167: #d75f5f;
  --term-color-168: #d75f87;
  --term-color-169: #d75faf;
  --term-color-170: #d75fd7;
  --term-color-171: #d75fff;
  --term-color-172: #d78700;
  --term-color-173: #d7875f;
  --term-color-174: #d78787;
  --term-color-175: #d787af;
  --term-color-176: #d787d7;
  --term-color-177: #d787ff;
  --term-color-178: #d7af00;
  --term-color-179: #d7af5f;
  --term-color-180: #d7af87;
  --term-color-181: #d7afaf;
  --term-color-182: #d7afd7;
  --term-color-183: #d7afff;
  --term-color-184: #d7d700;
  --term-color-185: #d7d75f;
  --term-color-186: #d7d787;
  --term-color-187: #d7d7af;
  --term-color-188: #d7d7d7;
  --term-color-189: #d7d7ff;
  --term-color-190: #d7ff00;
  --term-color-191: #d7ff5f;
  --term-color-192: #d7ff87;
  --term-color-193: #d7ffaf;
  --term-color-194: #d7ffd7;
  --term-color-195: #d7ffff;
  --term-color-196: #ff0000;
  --term-color-197: #ff005f;
  --term-color-198: #ff0087;
  --term-color-199: #ff00af;
  --term-color-200: #ff00d7;
  --term-color-201: #ff00ff;
  --term-color-202: #ff5f00;
  --term-color-203: #ff5f5f;
  --term-color-204: #ff5f87;
  --term-color-205: #ff5faf;
  --term-color-206: #ff5fd7;
  --term-color-207: #ff5fff;
  --term-color-208: #ff8700;
  --term-color-209: #ff875f;
  --term-color-210: #ff8787;
  --term-color-211: #ff87af;
  --term-color-212: #ff87d7;
  --term-color-213: #ff87ff;
  --term-color-214: #ffaf00;
  --term-color-215: #ffaf5f;
  --term-color-216: #ffaf87;
  --term-color-217: #ffafaf;
  --term-color-218: #ffafd7;
  --term-color-219: #ffafff;
  --term-color-220: #ffd700;
  --term-color-221: #ffd75f;
  --term-color-222: #ffd787;
  --term-color-223: #ffd7af;
  --term-color-224: #ffd7d7;
  --term-color-225: #ffd7ff;
  --term-color-226: #ffff00;
  --term-color-227: #ffff5f;
  --term-color-228: #ffff87;
  --term-color-229: #ffffaf;
  --term-color-230: #ffffd7;
  --term-color-231: #ffffff;
  --term-color-232: #080808;
  --term-color-233: #121212;
  --term-color-234: #1c1c1c;
  --term-color-235: #262626;
  --term-color-236: #303030;
  --term-color-237: #3a3a3a;
  --term-color-238: #444444;
  --term-color-239: #4e4e4e;
  --term-color-240: #585858;
  --term-color-241: #626262;
  --term-color-242: #6c6c6c;
  --term-color-243: #767676;
  --term-color-244: #808080;
  --term-color-245: #8a8a8a;
  --term-color-246: #949494;
  --term-color-247: #9e9e9e;
  --term-color-248: #a8a8a8;
  --term-color-249: #b2b2b2;
  --term-color-250: #bcbcbc;
  --term-color-251: #c6c6c6;
  --term-color-252: #d0d0d0;
  --term-color-253: #dadada;
  --term-color-254: #e4e4e4;
  --term-color-255: #eeeeee;
}
.asciinema-player-theme-asciinema {
  --term-color-foreground: #cccccc;
  --term-color-background: #121314;
  --term-color-0: hsl(0, 0%, 0%);
  --term-color-1: hsl(343, 70%, 55%);
  --term-color-2: hsl(103, 70%, 44%);
  --term-color-3: hsl(43, 70%, 55%);
  --term-color-4: hsl(193, 70%, 49.5%);
  --term-color-5: hsl(283, 70%, 60.5%);
  --term-color-6: hsl(163, 70%, 60.5%);
  --term-color-7: hsl(0, 0%, 85%);
  --term-color-8: hsl(0, 0%, 30%);
  --term-color-9: hsl(343, 70%, 55%);
  --term-color-10: hsl(103, 70%, 44%);
  --term-color-11: hsl(43, 70%, 55%);
  --term-color-12: hsl(193, 70%, 49.5%);
  --term-color-13: hsl(283, 70%, 60.5%);
  --term-color-14: hsl(163, 70%, 60.5%);
  --term-color-15: hsl(0, 0%, 100%);
}
/*
  Based on Dracula: https://draculatheme.com
 */
.asciinema-player-theme-dracula {
  --term-color-foreground: #f8f8f2;
  --term-color-background: #282a36;
  --term-color-0: #21222c;
  --term-color-1: #ff5555;
  --term-color-2: #50fa7b;
  --term-color-3: #f1fa8c;
  --term-color-4: #bd93f9;
  --term-color-5: #ff79c6;
  --term-color-6: #8be9fd;
  --term-color-7: #f8f8f2;
  --term-color-8: #6272a4;
  --term-color-9: #ff6e6e;
  --term-color-10: #69ff94;
  --term-color-11: #ffffa5;
  --term-color-12: #d6acff;
  --term-color-13: #ff92df;
  --term-color-14: #a4ffff;
  --term-color-15: #ffffff;
}
/* Based on Monokai from base16 collection - https://github.com/chriskempson/base16 */
.asciinema-player-theme-monokai {
  --term-color-foreground: #f8f8f2;
  --term-color-background: #272822;
  --term-color-0: #272822;
  --term-color-1: #f92672;
  --term-color-2: #a6e22e;
  --term-color-3: #f4bf75;
  --term-color-4: #66d9ef;
  --term-color-5: #ae81ff;
  --term-color-6: #a1efe4;
  --term-color-7: #f8f8f2;
  --term-color-8: #75715e;
  --term-color-15: #f9f8f5;
}
/*
  Based on Nord: https://github.com/arcticicestudio/nord
  Via: https://github.com/neilotoole/asciinema-theme-nord
 */
.asciinema-player-theme-nord {
  --term-color-foreground: #eceff4;
  --term-color-background: #2e3440;
  --term-color-0: #3b4252;
  --term-color-1: #bf616a;
  --term-color-2: #a3be8c;
  --term-color-3: #ebcb8b;
  --term-color-4: #81a1c1;
  --term-color-5: #b48ead;
  --term-color-6: #88c0d0;
  --term-color-7: #eceff4;
}
.asciinema-player-theme-seti {
  --term-color-foreground: #cacecd;
  --term-color-background: #111213;
  --term-color-0: #323232;
  --term-color-1: #c22832;
  --term-color-2: #8ec43d;
  --term-color-3: #e0c64f;
  --term-color-4: #43a5d5;
  --term-color-5: #8b57b5;
  --term-color-6: #8ec43d;
  --term-color-7: #eeeeee;
  --term-color-15: #ffffff;
}
/*
  Based on Solarized Dark: https://ethanschoonover.com/solarized/
 */
.asciinema-player-theme-solarized-dark {
  --term-color-foreground: #839496;
  --term-color-background: #002b36;
  --term-color-0: #073642;
  --term-color-1: #dc322f;
  --term-color-2: #859900;
  --term-color-3: #b58900;
  --term-color-4: #268bd2;
  --term-color-5: #d33682;
  --term-color-6: #2aa198;
  --term-color-7: #eee8d5;
  --term-color-8: #002b36;
  --term-color-9: #cb4b16;
  --term-color-10: #586e75;
  --term-color-11: #657b83;
  --term-color-12: #839496;
  --term-color-13: #6c71c4;
  --term-color-14: #93a1a1;
  --term-color-15: #fdf6e3;
}
/*
  Based on Solarized Light: https://ethanschoonover.com/solarized/
 */
.asciinema-player-theme-solarized-light {
  --term-color-foreground: #657b83;
  --term-color-background: #fdf6e3;
  --term-color-0: #073642;
  --term-color-1: #dc322f;
  --term-color-2: #859900;
  --term-color-3: #b58900;
  --term-color-4: #268bd2;
  --term-color-5: #d33682;
  --term-color-6: #2aa198;
  --term-color-7: #eee8d5;
  --term-color-8: #002b36;
  --term-color-9: #cb4b16;
  --term-color-10: #586e75;
  --term-color-11: #657c83;
  --term-color-12: #839496;
  --term-color-13: #6c71c4;
  --term-color-14: #93a1a1;
  --term-color-15: #fdf6e3;
}
.asciinema-player-theme-solarized-light .ap-overlay-start .ap-play-button svg .ap-play-btn-fill {
  fill: var(--term-color-1);
}
.asciinema-player-theme-solarized-light .ap-overlay-start .ap-play-button svg .ap-play-btn-stroke {
  stroke: var(--term-color-1);
}
/*
  Based on Tango: https://en.wikipedia.org/wiki/Tango_Desktop_Project
 */
.asciinema-player-theme-tango {
  --term-color-foreground: #cccccc;
  --term-color-background: #121314;
  --term-color-0: #000000;
  --term-color-1: #cc0000;
  --term-color-2: #4e9a06;
  --term-color-3: #c4a000;
  --term-color-4: #3465a4;
  --term-color-5: #75507b;
  --term-color-6: #06989a;
  --term-color-7: #d3d7cf;
  --term-color-8: #555753;
  --term-color-9: #ef2929;
  --term-color-10: #8ae234;
  --term-color-11: #fce94f;
  --term-color-12: #729fcf;
  --term-color-13: #ad7fa8;
  --term-color-14: #34e2e2;
  --term-color-15: #eeeeec;
}
/*
  Based on gruvbox: https://github.com/morhetz/gruvbox
 */
.asciinema-player-theme-gruvbox-dark {
  --term-color-foreground: #fbf1c7;
  --term-color-background: #282828;
  --term-color-0: #282828;
  --term-color-1: #cc241d;
  --term-color-2: #98971a;
  --term-color-3: #d79921;
  --term-color-4: #458588;
  --term-color-5: #b16286;
  --term-color-6: #689d6a;
  --term-color-7: #a89984;
  --term-color-8: #7c6f65;
  --term-color-9: #fb4934;
  --term-color-10: #b8bb26;
  --term-color-11: #fabd2f;
  --term-color-12: #83a598;
  --term-color-13: #d3869b;
  --term-color-14: #8ec07c;
  --term-color-15: #fbf1c7;
}
